option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:eu-west-1:954496673751:certificate/a5b16324-bf17-4be3-8932-47a535e5a8fc
    Protocol: HTTPS
Resources:
    AWSEBV2LoadBalancerListener:
      Type: 'AWS::ElasticLoadBalancingV2::Listener'
      Properties:
        LoadBalancerArn: { "Ref" : "AWSEBV2LoadBalancer" }
        DefaultActions:
          - RedirectConfig:  
              Port: 443
              Protocol: HTTPS
              StatusCode: HTTP_301
            Type: redirect
        Port: 80
        Protocol: HTTP
